body {
  background-color: #2d3941;
  color: #ffffff;
  font-size: 2em;
}

a {
  text-decoration: none;
}

.logo {
  max-height: 2em;
}

.bg-1 {
  background-image: url('https://placekitten.com/1920/1080');
  background-repeat: no-repeat;
  background-size: auto 100%;
  min-height: 100vh;
}
