@font-face {
  font-family: Anton;
  src: url(../fonts/Anton-Regular.ttf);
}

body {
  background-color: #2d3941;
  font-family: 'Anton', sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 8em;
  font-style: normal;
  font-weight: 200;
}

address {
  font-style: normal;
}

a {
  color: #ffffff;
  text-decoration-line: none;
}

.normal {
  font-weight: normal;
}

.uppercase {
  text-transform: uppercase;
}